/* font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif; */
:root {
  --primary-color: #5d887c;
  --background-color: #ecdecf;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Raleway", sans-serif;
}
body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 80px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
  font-family: var(--heading-font-family);
}

p {
  font-size: 16px;
  line-height: 30px;
}

.hero {
  background: var(--background-color);
  text-align: center;
  padding: 120px 20px;
}

.hero p {
  font-size: 36px;
  margin: 0;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
  color: #4f486e;
}

.btn-branding {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 4px;
  font-size: 18px;
  padding: 15px 30px;
}

.btn-branding-outline {
  font-size: 18px;
  padding: 15px 30px;
  background-color: #fff;
  color: var(--primary-color);
  border-radius: 4px;
  border: 1px solid var(--primary-color);
}

.project-description {
  padding: 120px 60px;
}

@media (max-width: 960px) {
  h1 {
    font-size: 50px;
    line-height: 2;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }

  .hero h2 {
    font-size: 18px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }
}
